@{
    ViewData["Title"] = "Product List - eCommerce";
}

@section VendorStyles {
    <link rel="stylesheet" href="~/vendor/libs/datatables-bs5/datatables.bootstrap5.css" />
    <link rel="stylesheet" href="~/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css" />
    <link rel="stylesheet" href="~/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css" />
    <link rel="stylesheet" href="~/vendor/libs/select2/select2.css">
    <link rel="stylesheet" href="~/vendor/libs/toastr/toastr.css">
}

@section VendorScripts {
    <script src="~/vendor/libs/datatables-bs5/datatables-bootstrap5.js"></script>
    <script src="~/vendor/libs/select2/select2.js"></script>
    <script src="~/vendor/libs/toastr/toastr.js"></script>

    <!-- Firebase Scripts -->
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-firestore.js"></script>
}

<script>
    // Pass Firebase configuration from server to client
    const firebaseConfig = {
        apiKey: "@ViewBag.FirebaseApiKey",
        authDomain: "@ViewBag.FirebaseProjectId" + ".firebaseapp.com",
        projectId: "@ViewBag.FirebaseProjectId",
        storageBucket: "@ViewBag.FirebaseStorageBucket",
        messagingSenderId: "@ViewBag.FirebaseMessagingSenderId",
        appId: "@ViewBag.FirebaseAppId"
    };

    // For debugging
    console.log("Firebase config:", firebaseConfig);
</script>

<div class="card mb-6">
    <div class="card-widget-separator-wrapper">
        <div class="card-body card-widget-separator">
            <div class="row gy-4 gy-sm-1">
                <div class="col-sm-6 col-lg-3">
                    <div class="d-flex justify-content-between align-items-start card-widget-1 border-end pb-4 pb-sm-0">
                        <div>
                            <p class="mb-1">Total Products</p>
                            <h4 class="mb-1" id="total-products">0</h4>
                        </div>
                        <span class="avatar me-sm-6">
                            <span class="avatar-initial rounded"><i class="ti-28px ti ti-box text-heading"></i></span>
                        </span>
                    </div>
                    <hr class="d-none d-sm-block d-lg-none me-6">
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="d-flex justify-content-between align-items-start card-widget-2 border-end pb-4 pb-sm-0">
                        <div>
                            <p class="mb-1">In Stock</p>
                            <h4 class="mb-1" id="in-stock-products">0</h4>
                        </div>
                        <span class="avatar p-2 me-lg-6">
                            <span class="avatar-initial rounded"><i class="ti-28px ti ti-check text-heading"></i></span>
                        </span>
                    </div>
                    <hr class="d-none d-sm-block d-lg-none">
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="d-flex justify-content-between align-items-start border-end pb-4 pb-sm-0 card-widget-3">
                        <div>
                            <p class="mb-1">Out of Stock</p>
                            <h4 class="mb-1" id="out-of-stock-products">0</h4>
                        </div>
                        <span class="avatar p-2 me-sm-6">
                            <span class="avatar-initial rounded"><i class="ti-28px ti ti-alert-triangle text-heading"></i></span>
                        </span>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="d-flex justify-content-between align-items-start">
                        <div>
                            <p class="mb-1">Total Value</p>
                            <h4 class="mb-1" id="total-value">$0.00</h4>
                        </div>
                        <span class="avatar p-2">
                            <span class="avatar-initial rounded"><i class="ti-28px ti ti-currency-dollar text-heading"></i></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Product List Table -->
<div class="card">
    <div class="card-header">
        <h5 class="card-title">Filter</h5>
        <div class="d-flex justify-content-between align-items-center row pt-4 gap-6 gap-md-0">
            <div class="col-md-4 product_category"></div>
            <div class="col-md-4 product_stock"></div>
        </div>
    </div>
    <div class="card-datatable table-responsive">
        <table class="datatables-products table">
            <thead class="border-top">
                <tr>
                    <th></th>
                    <th></th>
                    <th>Product</th>
                    <th>SKU</th>
                    <th>Price</th>
                    <th>Discount</th>
                    <th>Stock</th>
                    <th>Commission</th>
                    <th>Actions</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script src="~/js/app-ecommerce-product-list.js"></script>
