@model AspnetCoreMvcFull.DTO.User
@{
    ViewData["Title"] = "Account settings - Security";
}

@section VendorStyles {
    <link rel="stylesheet" href="~/vendor/libs/select2/select2.css" />
}

@section VendorScripts {
    <script src="~/vendor/libs/select2/select2.js"></script>
}

@section PageScripts {
    <script src="~/js/pages-account-settings-security.js"></script>
}

@* ************** Content ************** *@
<div class="row">
    <div class="col-md-12">
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["SuccessMessage"]
            </div>
        }

        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger" role="alert">
                @TempData["ErrorMessage"]
            </div>
        }

        <div class="nav-align-top">
            <ul class="nav nav-pills flex-column flex-md-row mb-6 gap-2 gap-lg-0">
                <li class="nav-item"><a class="nav-link" href="@Url.Action("Settings", "Account")"><i class="ti-sm ti ti-users me-1_5"></i> Account</a></li>
                <li class="nav-item"><a class="nav-link active" href="javascript:void(0);"><i class="ti-sm ti ti-lock me-1_5"></i> Security</a></li>
                <li class="nav-item"><a class="nav-link" href="AccountSettingsBilling"><i class="ti-sm ti ti-bookmark me-1_5"></i> Billing & Plans</a></li>
                <li class="nav-item"><a class="nav-link" href="AccountSettingsNotifications"><i class="ti-sm ti ti-bell me-1_5"></i> Notifications</a></li>
                <li class="nav-item"><a class="nav-link" href="AccountSettingsConnections"><i class="ti-sm ti ti-link me-1_5"></i> Connections</a></li>
            </ul>
        </div>
        <div class="row">
            <!-- Change Password -->
            <div class="col-md-6 col-12 mb-md-0 mb-6">
                <div class="card">
                    <h5 class="card-header">Change Password</h5>
                    <div class="card-body">
                        <form id="formChangePassword" method="POST" action="@Url.Action("UpdateSecurity", "Account")">
                            @Html.AntiForgeryToken()
                            <div class="alert alert-warning" role="alert">
                                <h5 class="alert-heading mb-2">Ensure that these requirements are met</h5>
                                <span>Minimum 8 characters long, lowercase & uppercase, and a number</span>
                            </div>

                            <div class="row">
                                <div class="mb-4 form-password-toggle col-12">
                                    <label class="form-label" for="currentPassword">Current Password</label>
                                    <div class="input-group input-group-merge">
                                        <input class="form-control" type="password" name="currentPassword" id="currentPassword" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" />
                                        <span class="input-group-text cursor-pointer"><i class="ti ti-eye-off"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="mb-4 form-password-toggle col-12">
                                    <label class="form-label" for="newPassword">New Password</label>
                                    <div class="input-group input-group-merge">
                                        <input class="form-control" type="password" id="newPassword" name="newPassword" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" />
                                        <span class="input-group-text cursor-pointer"><i class="ti ti-eye-off"></i></span>
                                    </div>
                                </div>

                                <div class="mb-4 form-password-toggle col-12">
                                    <label class="form-label" for="confirmPassword">Confirm New Password</label>
                                    <div class="input-group input-group-merge">
                                        <input class="form-control" type="password" name="confirmPassword" id="confirmPassword" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" />
                                        <span class="input-group-text cursor-pointer"><i class="ti ti-eye-off"></i></span>
                                    </div>
                                </div>
                                <div>
                                    <button type="submit" class="btn btn-primary me-2">Change Password</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Two-factor Authentication -->
            <div class="col-md-6 col-12">
                <div class="card">
                    <h5 class="card-header">Two-factor Authentication</h5>
                    <div class="card-body">
                        <h6 class="fw-semibold mb-2">Two factor authentication is not enabled yet.</h6>
                        <p class="mb-4">
                            Two-factor authentication adds an additional layer of security to your account by requiring more than just a password to sign in.
                            <a href="javascript:void(0);">Learn more.</a>
                        </p>
                        <button class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#enableOTP">Enable two-factor authentication</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
